<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Textbooks</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <style>
    body {
      height: 100vh;
    }

    .griddd {
      padding-top: 5%;
      padding-bottom: 0%;
    }

    .container {
      height: 85vh;
    }

    .col-4 {
      margin-top: 3%
    }

    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(224, 224, 224);
      color: black;
      text-align: center;
    }
  </style>


</head>



<body>
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BookStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload">Upload</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/notes" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Notes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/notes/?sem=3">3rd Sem</a>
            <a class="dropdown-item" href="/notes/?sem=4">4th Sem</a>
            <a class="dropdown-item" href="/notes/?sem=5">5th Sem</a>
            <a class="dropdown-item" href="/notes/?sem=6">6th Sem</a>
            <a class="dropdown-item" href="/notes/?sem=7">7th Sem</a>
            <a class="dropdown-item" href="/notes/?sem=8">8th Sem</a>
          </div>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="/textbook" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Textbook
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/textbook/?sem=3">3rd Sem</a>
            <a class="dropdown-item" href="/textbook/?sem=4">4th Sem</a>
            <a class="dropdown-item" href="/textbook/?sem=5">5th Sem</a>
            <a class="dropdown-item" href="/textbook/?sem=6">6th Sem</a>
            <a class="dropdown-item" href="/textbook/?sem=7">7th Sem</a>
            <a class="dropdown-item" href="/textbook/?sem=8">8th Sem</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <% if(locals.isLogin){%>
        <li class="nav-item ">
          <a class="nav-link" href="http://localhost:3000/login">Login</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="http://localhost:3000/register">Register</a>
        </li>
        <% }else{%>
        <li class="nav-item ">
          <a class="nav-link" href="http://localhost:3000/profile">Profile</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        <%}%>
          </ul>

      

    </div>
  </nav>
  
<div class="container">
<div class="griddd">
  <div class="container"  id="table">
    <div class="row">
      <div class="col-sm-9">
        <h3>Subject</h3>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="subject-dropdown">Select Subject</label>
          <select class="form-control" id="subject-dropdown" onChange = "change_sub(this);">
    
          </select>
        </div>
      </div>
    
    </div>
  <% if(files){ %>
  <%  var tb = [] %>
  <% files.forEach(function(file) { %>
  <% if(file.isTB) { %>
  <% tb.push(file)%>
  <% } else { %>
  <% }})} %>

    </div>
    </div>

    </div>
    <footer>
      <p>©Untitled Inc</p>
    </footer>
    <script>


  <% for (var i = 0; i < subject.length; i++) {%>  
     var dropdown_selector = document.getElementById('subject-dropdown');
        dropdown_selector.innerHTML += `<option><%=subject[i]%></option>`
        var tr = document.createElement('div')
        tr.className = "container subject-list"
        tr.id = "<%=subject[i]%>"
        //tr.innerHTML = `<div class = "col-sm-3" id="<%=subject[i]%>">  </div>`

        var tab = document.getElementById("table")
        tab.appendChild(tr)

    for (var j = 0; j < Math.ceil(<%=tb.length %>/3); j++) {
        console.log('ros')
        var rowDiv = document.createElement('div')
        rowDiv.className = "row"
        rowDiv.id = "row-<%=subject[i]%>-" + j
        containerDiv = document.getElementById("<%=subject[i]%>")
        containerDiv.appendChild(rowDiv)
      }  
  
  <%}%>
  var colCount = -1
      var index = 0
        <% for (var i = 0; i < tb.length; i++) { %>
  
    var cln = document.createElement('div')
          cln.className = "col-4"
          cln.innerHTML = `
    <div class = "card">
    <form action="http://localhost:3000/pdf/<%= tb[i].filename %>" class="book" method="GET">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= tb[i].filename %></h5>
            <p class="card-text"><%= tb[i].subject %></p>
            <button type="submit" value='a' class = "btn btn-secondary" >OPEN </button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
     </form>
     </div>
     `
          //cln.getElementsByTagName("p")[0].innerHTML = "<%= tb[i].filename %>";
          //console.log(cln.getElementsByTagName("p"))
          //console.log('<%=tb%>')
          cln.action = "pdf/<%= tb[i].filename %>";
          console.log("cln is" + '<%= tb[i].subject %>')
          //<%= tb[i].filename %>"
          //var td  = document.createElement('td')
          var subjectName = "<%= tb[i].subject %>"

          if (colCount === 3) {
            index++
            colCount = 0
          }

          if (document.getElementById(subjectName) != undefined) {
            console.log('row-' + subjectName + '-' + index)
            var par = document.getElementById('row-' + subjectName + '-' + index)

          }
          colCount++
          par.appendChild(cln);
          change_sub(dropdown_selector)
        <%}%>

    function change_sub(sel) {
      var subList = document.getElementsByClassName("subject-list")
        
        <% for (var i = 0; i <= subject.length - 1; i++) {%>
          document.getElementById("<%=subject[i]%>").style.display = "none";
          document.getElementById(sel.options[sel.selectedIndex].text).style.display = "block"
            <%}%>
      }


    </script>
</body>

</html>