<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Textbooks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
  .box-style{
        height: 12em;
    width: 15%;
    padding: 1em;
    
    background-color: white;
    margin: 1em;
    box-shadow: 3px 3px 3px 3px grey;
    position: relative;
    /* border: solid; */
  }
  
button{
  background-color:#FFFBE6;
  border:none;
}
.colorButton{
      width: 100%;
    left: 0;
  background-color: #008CBA; 
  border: none;
  color: white;
  
  /*padding: 15px 32px;*/
   border: solid #008CBA;
  text-align: center;
  position: absolute;
    height: auto;
    bottom: 0;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.colorButton:hover{
  background-color: rgb(242, 255, 243); /* Green */
  color:black;
  border: solid #008CBA;
}


</style>


</head>

<body style="background-color:#FFFBE6;">

<nav class="navbar fixed-top navbar-expand-lg  navbar-dark "
  style="background-image: linear-gradient( 109.6deg,  rgba(61,106,239,1) 11.2%, rgba(122,14,190,1) 70.2% );">
  <a class="navbar-brand" href="/">BoLi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
      </li>
                  
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/textbook/?sem=3">TextBook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/notes/?sem=3">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/about">About</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <% if(locals.isLogin){%>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:3000/login">Login</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:3000/register">Register</a>
      </li>
      <%}else{%>
        <li class="nav-item ">
          <a class="nav-link" href="http://localhost:3000/profile">Profile</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
       <%}%> 
    </ul>

  </div>
</nav>


<br>
<br><br>
<%- include('../partials/semnav') %>

<div class="container" id="table">
<div cellpadding="10" style="margin-top: 5%;">
  <% if(files){ %>
  <%  var tb = [] %>
  <% files.forEach(function(file) { %>
  <% if(file.isTB) { %>
  <% tb.push(file)%>
  <% } else { %>
  <% }})} %>

  

</table>

</div>
<script >
  
  <% for (var i = 0; i <= subject.length-1;i++){%>
    var tr = document.createElement('div')    
    tr.style = "border-bottom : solid;"
    tr.className = "row"
    tr.innerHTML = `<div style = "width:12%"  ><%=subject[i]%></td>`
    tr.id = '<%=subject[i]%>'
    var tab = document.getElementById("table")
    tab.appendChild(tr)
  <%}%>


  <% for(var i =0;i<= tb.length-1 ;i++){ %>
  var cln = document.createElement('div')
  cln.className = "col-xs-2 box-style"
  //cln.style = "height:11em;width:15%;padding-right:1em;padding-top:1em;background-color:white;margin:1em;position:relative"
  cln.innerHTML = `<form action="http://localhost:3000/pdf/<%= tb[i].filename %>" class="book" method="GET">
    <p class = "crop">
    <%= tb[i].filename %></p>
    <p >
      <small class="text-muted">
        <%= tb[i].subject %>
      </small>
    </p>
    <button type="submit" value='a' class = "colorButton card-button">OPEN </button>
    </form>`
  //cln.getElementsByTagName("p")[0].innerHTML = "<%= tb[i].filename %>";
  console.log(cln.getElementsByTagName("p"))
  //console.log('<%=tb%>')
  cln.action = "pdf/<%= tb[i].filename %>";
  console.log("cln is"+'<%= tb[i].filename %>')
   //<%= tb[i].filename %>"
  //var td  = document.createElement('td')
  if(document.getElementById('<%= tb[i].subject %>') != undefined)
    var par  = document.getElementById('<%= tb[i].subject %>')
  console.log('sub is'+'<%= tb[i].subject %>')
  par.appendChild(cln);
  
  <%}%>
</script>
</body>
</html>
