<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Textbooks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
button{
  background-color:#FFFBE6;
  border:none;
}

</style>


</head>

<body style="background-color:#FFFBE6;">

<%- include('../partials/navigation') %>
<br>
<br><br>
<%- include('../partials/semnav') %>

<div class="container">
<table  align="center" cellpadding="40" style="margin-top: 5%;"><u>
  <% if(files){ %>
  <%  var tb = [] %>
  <% files.forEach(function(file) { %>
  <% if(file.isTB) { %>
  <% tb.push(file)%>
  <% } else { %>
  <% }})} %>
<tr id = "uP">
  
</tr>
<tr id="CO">
  
</tr>
</table>

</div>
<script >
  
  <% for(var i =0;i<= tb.length-1 ;i++){ %>
  
  //console.log(itm)
  var cln = document.createElement('td')
  cln.innerHTML = `<form action="pdf/<%= tb[i].filename %>" class="book" method="GET">
    <img class="image-fluid float-left" class="image-fluid rounded" src="icon.png" alt="please reload...">
    <p> <%= tb[i].filename %><br><%= tb[i].subject %></p>
    <button type="submit" value='a'>OPEN </button> </form>`
  //cln.getElementsByTagName("p")[0].innerHTML = "<%= tb[i].filename %>";
  console.log(cln.getElementsByTagName("p"))
  cln.action = "pdf/<%= tb[i].filename %>";
  console.log("cln is"+'<%= tb[i].filename %>')
   //<%= tb[i].filename %>"
  //var td  = document.createElement('td')
  var par  = document.getElementById('<%= tb[i].subject %>')
  console.log('sub is'+'<%= tb[i].subject %>')
  //console.log(par)
  
  //td.appendChild(cln)
  par.appendChild(cln);
  
  <%}%>
</script>
</body>
</html>
